<div class="col-md-9 offset-md-1 bg-custom-gray p-4">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Users</th>
        <th>Posts</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= image_tag (user.photo.present? ? user.photo : 'user.jpg'), class: 'profile_pic mr-5' %><%= (user.username) ? (user.username) : (user.email) %></td>
        <td><%= link_to pluralize(user.posts.count, 'post'), user %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>