<span id="follow_btn_<%= user.id %>">

	<% if current_user.present? %>
	<% if is_followed_by_current_user?(user) %>
	<%= link_to "Unfollow", follows_path(user), class: 'btn btn-danger btn-sm float-right', method: :delete, remote: true, data: {confirm: 'After unfollowing the user, you won\'t be able to see their post'} %>
	<% else %>
	<%= link_to "Follow", follows_path(user), class: 'btn btn-primary btn-sm float-right', method: :post, remote: true %>
	<% end %>
	<% end %>

</span>