<div class="mb-2">
	<%= link_to post.user.email, user_path(post.user), class: 'text-primary font-14' %>
</div>

<%= link_to image_tag(post.photo, class: 'col-md-12'), post.photo, target: '_blank', class: 'badge' %>

<div class="mt-4">
	<strong>Description:</strong> <%= post.description %>
	<br>
	<%= link_to pluralize(post.comments.count, 'comment'), post_comments_path(post.id), class: 'badge badge-info' %>	
</div>