<h1>New Post</h1>

<div class="container m-2 p-4 col-md-6">

	<%= simple_form_for @post do |f| %>

	<div class="form-group mb-2 p-3">
		<%= f.input :photo %>
	</div>
	<div class="form-group mb-2 p-3">
		<%= f.input :description %>
	</div>
	<div class="form-group mb-2 p-3">
		<%= f.submit "Update", class: 'btn btn-primary' %>
	</div>

	<% end %>

</div>