<% if @posts.any? %>

<div class="col-md-12 d-flex flex-wrap m-0" id="my-posts">

	<%= render 'posts/list', {posts: @posts} %>
</div>

<% else %>
<center class="mt-5">
	<h2 class="text-light">No Posts Yet.</h2>
</center>
<% end %>



<div id="infinite-scrolling">
	<%= will_paginate @products %>
</div>