body{
  margin: 0px !important;
  background: url('background.jpg');
  background-size: cover
}

.footer{
  bottom: 0 !important;
  position: fixed;
  width: 100%;
}

.header{
  top: 0 !important;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-custom{
  background-color: indigo !important;
}

.bg-custom{
  background-color: indigo !important;
}

.bg-custom-gray{
  background-color: #EEE !important;
}

.border-custom{
  border-color: #cbd0d5 !important;
}

.footer{
  margin-bottom: auto !important  ;
}

.flex-0-48{
  flex: 0 48%;
}

.font-14{
  font-size: 14px;
}



.profile_pic{
  height: 50px;  
  width: 50px;  
  border-radius: 50% !important
}

.profile_pic_lg{
  height: 100px;  
  border-radius: 50% !important
}